<p id="notice"><%= notice %></p>

<h1>Flags</h1>

<table class="table">
  <thead>
    <tr>
      <th>Result</th>
      <th>Flag text</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.result %></td>
        <td><%= flag.flag_text %></td>
        <td>
          <div class="btn-group btn-group-justified" role="group" style="display:block">
            <% @flag_classes.each do |flag_class| %>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="flag_class_button btn btn-sm btn-<%= (flag_class.id == flag.flag_class_id) ? "default" : (flag_class.color || "default") %> <%= 'active' if flag_class.id == flag.flag_class_id %>" data-flag_id="<%= flag.id%>" data-classid="<%= flag_class.id%>"><%= flag_class.name %></button>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Import", flags_import_path %>
