<p id="notice"><%= notice %></p>

<h1>Flags</h1>

<table class="table">
  <thead>
    <tr>
      <th>Result</th>
      <th>Result reason</th>
      <th>Flag text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.result %></td>
        <td><%= flag.result_reason %></td>
        <td><%= flag.flag_text %></td>
        <td><%= link_to 'Show', flag %></td>
        <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
        <td><%= link_to 'Destroy', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Import", flags_import_path %>
